#contactArea {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
}

#contactText h1 {
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 3vh;
    padding-left: 0vw;
    width: 100%;
}

#contactText h2 {
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 1vh;
    color: var(--buffaloBlue);
    font-size: 1.5em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

#contactText p {
    text-align: center;
    font-weight: 300;
    font-size: 1em;
}

#contactTitle {
    color: white;
    opacity: 1;
}

#contactForm {
    width: 100%;
    min-height: 12vw;
    text-align: center;
}

#contactForm p {
    margin-top: 3vw;
    font-size: 4vw;
    font-weight: 800;
    color: var(--buffaloBlue);
}

.inputField {
    box-sizing: border-box;
    border: 0;
    background-color: rgb(240, 240, 240, 1);
    border-radius: 0px;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.25vw;
    font-weight: 300;
    color: black;
}

.inputField:focus {
    outline: none;
    border-bottom: 1px solid rgb(96, 88, 83);
}

#messageArea {
    height: 200px;
}

#contactButton {
    cursor: pointer;
    font-size: 1.25vw;
    font-weight: 300;
    color: white;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 1vw;
    border: 1px solid var(--buffaloBlue);
    background-color: var(--buffaloBlue);
    transition: all 0.25s;
}

#contactButton:hover {
    background-color: white;
    color: var(--buffaloBlue);
}

.pageEnd {
    padding-bottom: 12vw;
}