#HamburgerHeader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    display: none;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    margin-top: 10px;
}

#HamburgerHeaderLogo {
    background-image: url(../Images/BuffaloLogoWhite.svg);
    background-repeat: no-repeat;
    z-index: 120;
    width: 30vh;
    height: 7vh;
    margin-left: 4vw;
    filter: drop-shadow(1px 1px 0px rgba(69, 73, 96, 0.2));
    transition: opacity 0.5s;
}

.HamburgerIcon {
    position: fixed;
    z-index: 110;
    width: 7vh;
    height: 7vh;
    right: 2vw;
    top: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.HamburgerIcon:hover {
    filter: invert(100%);
}

.HBOpen {
    background-image: url(../Images/HBOpen.svg);
}

.HBClose {
    background-image: url(../Images/HBClose.svg);
}

.HamburgerMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    width: 100%;
    background-color: var(--buffaloBlue);
    color: white;
    font-size: calc(16px + 0.5vw);
    font-weight: 300;
    padding-top: 4vh;
    padding-bottom: 4vh;
    overflow: hidden;
    transition: all 0.5s;
}

.menuNoHeight {
    top: -40vh;
}

.menuFullHeight {
    top: 0vh;
}

.HamburgerItem {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    cursor: pointer;
}

.HamburgerItem:hover {
    filter: invert(1);
}



.opacityNone {
    opacity: 0;
}

.opacityFull {
    opacity: 1;
}

@media screen and (orientation:portrait) {
    #HamburgerHeader {
        display: flex;
    }
}