#intro {
    z-index: 15;
    height: 30vh;
    width: 90vw;
    margin-top: 3vw;
    padding-left: 7vw;
}

h1 {
    color: var(--buffaloBlue);
    font-size: 1.75vw;
    font-weight: 800;
    width: 60%;
}

#intro p {
    margin-top: 1vw;
    font-weight: 300;
    width: 60%;
}